/*CAD2C5
84A98C
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: PT Sans, Playfair;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
}

a {
  color: #999;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  color: #2F3E46;
}

h2 { 
  color: #354F52;
}

h3 { 
  color: #52796F
}

.Header { 
  margin:0;
  padding:0;
}

.header_links{
  display: flex;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  list-style: none;
}

.header_link { 
  margin:20px;
}

.header_link a:hover, footer_link a:hover{ 
  text-decoration: underline;
}


.footer_links{
 /* display: grid;*/
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
  /*
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;*/
}


button {
  color: #52796F;
  border-radius: 25px;
  padding:10px;
}

blockquote { 
  border:1px dotted #ccc;
  padding:20px;
  margin:0;
  background-color: #CAD2C5;
}

.copyright { 
  margin-top:50px;
  text-align:center;
}








